.contact {
    display: flex;
}

.contact__img {
    width: 50%;
    height: 577px;
    object-fit: cover;
}

.contact__text {
    width: 50%;
    background: var(--color-contact__light-green);
    padding-left: 120px;
    padding-top: 144px;
}

.contact__title-first {
    width: 423px;
}

.contact__title-second {
    margin-bottom: 60px;
}