.coverages {
    margin-top: 120px;
}

.coverages__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.coverages__text {
    width: 600px;
    margin-bottom: 60px;
}

.coverages__title {
    width: 556px;
}

.coverages__desc {
    width: 551px;
}

.coverages__img {
    width: 600px;
    height: 298px;
}

.coverage__inner {
    display: flex;
    justify-content: space-between;
}

.coverage-block__bottom {
    display: flex;
    justify-content: space-between;
}