.news {
    margin: 120px 0;
}

.news__inner {
    display: flex;
    justify-content: space-between;
}

.new {
    display: block;
    width: 355px;
    cursor: pointer;
}

.new__img {

}

.new__tagline {
    margin-top: 20px;
}

.new__title {
    font-size: 20px;
    line-height: 26px;
}