.container {
    margin: 0 auto;
    width: 1120px;
}

h1 {
    font-family: var(--font-montserrat);
    color: var(--color-primary);
    font-size: 60px;
    line-height: 68px;
    letter-spacing: -1px;
}

h2 {
    font-family: var(--font-montserrat);
    color: var(--color-primary);
    font-size: 46px;
    line-height: 56px;
}

h3 {
    font-family: var(--font-montserrat);
    color: var(--color-primary);
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-family: var(--font-montserrat);
    color: var(--color-primary);
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
}

p {
    font-family: var(--font-mulish);
    color: var(--color-secondary);
    font-size: 20px;
    line-height: 30px;
}