:root {
    /* colors */
    --color-primary: #001A49;
    --color-secondary: #4F596A;
    --color-btn: white;
    /* fonts */
    --font-montserrat: 'Montserrat', sans-serif;
    --font-mulish: 'Mulish', sans-serif;
}