.card {
    position: relative;
    padding: 35px 45px;
    opacity: 0.6;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    text-align: left;
}

.card__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.card__company {
    margin-top: 2px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #F3A183;
}

.card__company_selected {
    margin-top: 5px;
    margin-bottom: 35px;
}

.card__text {
    font-size: 16px;
    line-height: 28px;
    width: 500px;
}

.card__stars {
    position: absolute;
    right: 30px;
}

.card_selected {
    margin: 0 8px;
    opacity: 1;
    padding: 40px 50px;
}