* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0 0;
    font-family: 'Roboto', sans-serif;
    color: #3A3A44;
}

h2 {
    font-family: Rubik;
    text-transform: uppercase;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    line-height: 60px;
    font-weight: normal;
}

/* inroduction */

.header {
    background: radial-gradient(83.36% 263.46% at 20.03% 40.37%, rgba(0, 0, 0, 0) 16.01%, rgba(0, 0, 0, 0.69) 89.84%), url(../imgs/exodusBg.png), #19191d;
    max-height: 1080px;
    z-index: -5;
}

.nav {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav__links {
    display: flex;
}

.nav__link {
    color: #F7F7FA;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    transition: all 0.5s ease;
}

.nav__link:hover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 4.17%, rgba(255, 255, 255, 0.0001) 98.05%);

}

.nav__link>li {
    border-top: 4px solid #ffffff00;
    padding: 30px 33px;
    transition: 0.3s;
}

.nav__link>li:hover {
    border-top: 4px solid white;
    /* box-shadow: inset 0px 25px 20px -20px #ffffff; */
}

.download-btn {
    text-decoration: none;
    color: #F7F7FA;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 15px 40px;
    height: 46px;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    border-radius: 5px;
    transition: 0.5s;
}

.download-btn:hover {
    box-shadow: 0px 6px 10px rgba(255, 105, 101, 0.2);
}

.header__content {
    color: #F7F7FA;
}

.header__title {
    width: 550px;
    font-size: 5rem;
    letter-spacing: 0.2px;
    font-weight: 600;
    line-height: 60px;
    font-family: 'Rubik', sans-serif;
    margin-left: 205px;
    margin-top: 220px;
}

.header__text {
    font-family: 'Rubik', sans-serif;
    margin-left: 205px;
    margin-top: 30px;
    font-size: 1.6rem;
    width: 550px;
    line-height: 28px;
    font-weight: 300;
}

.header__scroll {
    margin-top: 152px;
    margin-left: 205px;
}

.header__phone { 
    z-index: 2;
    position: absolute;
    right: 190px;
    top: 140px;
}

.header__steps {
    position: relative;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    width: 1312px;
    margin: 0 auto;
    border-radius: 10px;
    background: white;
    padding: 50px;
    margin-top: 160px;
    box-shadow: 0 0 20px 4px rgb(175 175 175 / 50%);
}

.step {
    width: 100%;
    max-width: 362px;
}

.step__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    border-radius: 6px;
    width: 70px;
    height: 70px;
    color: #F7F7FA;
    margin-bottom: 26px;
}

.step__title {
    font-family: 'Rubik', sans-serif;
    line-height: 21px;
    font-size: 1.8rem;
    font-weight: 500;
    color: #031D5B;
}

.step__line {
    margin-top: 29px;
    margin-bottom: 18px;
    width: 72px;
    height: 4px;
    border: none;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
}

.step__desc {
    font-size: 1.6rem;
}


/* earn */

.earn {
    padding-top: 245px;
    padding-bottom: 100px;
    background: #E5E5E5;;
    display: flex;
}

.earn__inner {
    padding: 200px 106px;
}

.earn__text {
    font-size: 16px;
    line-height: 28px;
    width: 470px;
    margin-top: 25px;
}

.earn__arrow {
    position: relative;
    left: 710px;
    bottom: 50px;
    cursor: pointer;
}

.earn__more {
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    opacity: 0.8;
}

.earn__more::after {
    background: url(../imgs/earnArrowSmall.png);
}

.earn__dots {
    width: 200px;
    display: flex;
    align-items: center;
    position: relative;
}

.dot {
    width: 8px;
    height: 8px;
    background: grey;
    border-radius: 4px;
    margin-right: 20px;
    margin-top: 47px;
}

.dot-selected {
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dot-selected::before {
    position: absolute;
    right: 128px;
    top: 43px;
    content: "";
    border-radius: 50%;
    border: 1px solid #f3a18388;
    height: 18px;
    width: 18px;
}

/* testimonials */

.testimonials {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #E5E5E5;
    padding-bottom: 110px;
    padding-top: 100px;
}

.testimonials__title {
    margin-bottom: 80px;
}

.testimoinals__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.card {
    position: relative;
    padding: 35px 45px;
    opacity: 0.6;
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    text-align: left;
}

.card__title {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.card__company {
    margin-top: 2px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    color: #F3A183;
}

.card__company_selected {
    margin-top: 5px;
    margin-bottom: 35px;
}

.card__text {
    font-size: 16px;
    line-height: 28px;
    width: 500px;
}

.card__stars {
    position: absolute;
    right: 30px;
}

.right40px {
    right: 40px;
}

.card_selected {
    margin: 0 8px;
    opacity: 1;
    padding: 40px 50px;
}

.testimonials__arrows {
    align-items: center;
    display: flex;
}

.arrows__arrow {
    display: flex;
    opacity: 0.3;
    transition: 0.2s;
}

.arrows__arrow:hover {
    opacity: 1;
}

.arrows__dot {
    margin: 0 27px;
}

/* pricing */

.pricing {
    background: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;
}

.pricing__text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 43px;
    width: 588px;
}

.plans {
    display: flex;
}

.plan__advantages {
    padding-top: 204px;
    margin-right: 24px;
}

.option {
    max-height: 28px;
    padding: 11px 29px;
    font-size: 16px;
    line-height: 28px;
}

.plan {
    padding: 24px;
    text-align: center;
    width: 250px;
    transition: 0.5s;
}

.plan:hover {
    box-shadow: 0px 5px 130px rgba(0, 0, 0, 0.0788625);
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

.plan__title {
    font-size: 16px;
    line-height: 28px;
}

.plan__price {
    font-family: Rubik;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.428571px;
    margin-bottom: 20px;
}

.plan__price>sup {
    font-family: Rubik;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.137143px;
    text-transform: uppercase;
}

.plan__desc {
    font-size: 14px;
    line-height: 24px;
}

.plan__marks {
    margin-top: 38px;
    list-style: none;
}

.plan__mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
}

.plan__btn {
    display: block;
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #F3A183;
    border-radius: 6px;
    padding: 21px 1px;
    margin-bottom: 20px;
    margin-top: 40px;
    transition: 0.5s;
}

.plan__btn:hover {
    box-shadow: 0px 6px 10px rgba(255, 105, 101, 0.2);
}

.plan__mark_grey {
    background: #F5F5F5;
}

/* manipulate */

.manipulate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../imgs/manipulateBG.png);
}

.manipulate__title {
    margin-top: 112px;
    font-family: Rubik;
    color: #F7F7FA;
    text-align: center;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    width: 832px;
}

.manipulate__advantages {
    display: flex;
    padding: 80px;
    margin-top: 58px;
    margin-bottom: 120px;
    width: 1210px;
    background: white;
    justify-content: space-around;
}

.advantage {
    text-align: center;
}

.advantage__number {
    background: linear-gradient(90deg, #EC6F66 0%, #F3A183 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Rubik;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    letter-spacing: -0.423077px;
}

.advantage__title {
    font-family: Rubik;
    color: #222222;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.186154px;
    margin-top: 31px;
    margin-bottom: 14px;
}

.advantage__desc {
    color: #868686;
    font-size: 16px;
    line-height: 28px;
    width: 430px;
}

/* footer */

footer {
    background: white;
    width: 1419px;
    margin: 0 auto;
}

.footer__inner {
    position: relative;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 100px;
    margin-bottom: 90px;
}

.footer__search {
    display: flex;
    align-items: center;
}

.footer__input {
    outline: none;
    font-family: Rubik;
    border: 2px solid #F5F5F5;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 17px 23px;
    width: 420px;
    font-size: 14px;
    line-height: 17px;
}

.footer__input-img {
    position: absolute;
    right: 15px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1419px;
    margin-bottom: 20px;
}

.links {
    width: 200px;
}

.links__title {
    list-style-type: none;
    font-family: Rubik;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #222222;
    margin-bottom: 22px;
}

.footer__link-wrapper {
    list-style-type: none;
    margin-bottom: 18px;
}

.links__link {
    font-size: 14px;
    color: #868686;
    text-decoration: none;
}

.footer__bottom {
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 53px;
}

.footer__copyright {
    font-size: 14px;
    line-height: 24px;
    color: #868686;
}

.footer__contacts {
    display: flex;
    justify-content: center;
}

.contacts__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #F5F5F5;
    border-radius: 50%;
}

.contacts__btn-img {
    width: 20px;
    height: 20px;
}

.margin10px {
    margin: 0 10px;
}